<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Templates Example 1</title>
  </head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <script type="module" src="./moviesElement.js" defer></script>
  <body>
    <movies-element>
    </movies-element>

    <template id="movies-template">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">

      <div class="container">
        <div class="row">
          <div class="col">
            <h2>Movie List</h2>
            <fieldset class="border p-1">
              <legend class="float-none w-auto p-1">Mine Filmer</legend>
              <p>
                <label>Tittel: </label>
                <input id="inpTitle" type="text" placeholder="Tittel" style="width: 20em" />
                <label>Regi: </label>
                <input id="inpDirector" type="text" placeholder="Regi." style="width: 15em" />
              </p>
              <p>
                <label>År: </label>
                <input id="inpYear" type="number" placeholder="2024" style="width: 4em" />
                <label>Sjanger: </label>
                <select id="inpGenre" type="text" placeholder="Sjanger" style="width: 10em">
                  <option value="Action">Action</option>
                  <option value="Komedie">Komedie</option>
                  <option value="Drama">Drama</option>
                  <option value="Skrekk">Skrekk</option>
                  <option value="Eventyr">Eventyr</option>
                  <option value="Sci-Fi">Sci-Fi</option>
                  <option value="Thriller">Thriller</option>
                  <option value="Romantikk">Romantikk</option>
                  <option value="Fantasy">Fantasy</option>
                  <option value="Dokumentar">Dokumentar</option>
                </select>
                <label>Rangering: </label>
                <input id="inpRating" type="number" placeholder="5.5" style="width: 4em" />
                <span> (1.0 til 10.0)</span>
              </p>
              <p>
                <button class="button" onclick="cmbAddMovie()">Lagre!</button>
              </p>
            </fieldset>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col">
            <table class="table table-success table-striped">
              <thead>
                <tr class="table-primary">
                  <th>
                    <span style="cursor: pointer" onclick="sortByColumn(EMovieColumnName.Title)">Tittel</span>
                  </th>
                  <th>
                    <span style="cursor: pointer" onclick="sortByColumn(EMovieColumnName.Director)">Regi</span>
                  </th>
                  <th>
                    <span style="cursor: pointer" onclick="sortByColumn(EMovieColumnName.Year)">År</span>
                  </th>
                  <th>
                    <span style="cursor: pointer" onclick="sortByColumn(EMovieColumnName.Genre)">Sjanger</span>
                  </th>
                  <th>
                    <span style="cursor: pointer" onclick="sortByColumn(EMovieColumnName.Rating)">Rang.</span>
                  </th>
                </tr>
              </thead>
              <tbody id="tbodyMovies">
                <!-- Here we will add the movies from movie-template -->
              </tbody>
              <tfoot>
                <tr class="table-secondary">
                  <td colspan="4" style="text-align: right">Antall filmer:</td>
                  <td id="tdNumberOfMovies" style="text-align: left">100</td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </template>
    <template id="movie-template">
      <tr>
        <td id="tdTitle"></td>
        <td id="tdDirector"></td>
        <td id="tdYear"></td>
        <td id="tdGenre"></td>
        <td id="tdRating"></td>
      </tr>
    </template>
  </body>
</html>
